@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e4efe7;
}

.parent {
    display: flex;
    margin: 1rem auto 0 auto;
    max-width: 700px;
}

.title {
    display: inline-block;
    font-size: 2rem;
    margin-left: 2rem;
}

.discription {
    width: 700px;
    margin-top: 30px;
}

.small-line {
    display: inline-block;
    width: 20px;
    border-top: none;
    margin-right: 10px;
    border: 2px solid #e1701a;
    border-radius: 50%;
}

.btn-parent {
    margin: 20px auto;    
    /* width: 500px; */
    float: left;
}

button {
    padding: 8px 16px;
    margin: 0 30px;
    border-radius: 20px;
    border: 1px solid #d1d9d9;
    background-color: #e1e5ea;
    border-bottom: 2px solid #e4efe7;
}

button:hover {
    border: none;
    border-radius: 0;
    background-color: #e4efe7;
    transition: 100ms;
    border-bottom: 2px solid rgb(77, 193, 228);
    cursor: pointer;
}

.App {
    /* text-align: center; */
    width: 750px;
    margin: auto;
}

h4 {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
}

p {   
    margin: 1px;
}

.showCase {
    max-width: 450px;
    height: 43px;
    border: 1px solid rgb(192, 212, 212);
    margin-bottom: 12px;
    padding: 10px 0 10px 10px;

    border-radius: 8px;
}

.showCase:hover {
    transition: 100ms;
    box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.4);
}

.rating {
    font-size: 12.5px;
}
